

{% macro overviewSection(sectionData, slug, path, editMode) %}

    {% import "/data.html.twig" as data %}

    <section id="overview-section" class="overview-section section">
        <h2 class="section-title">
            {{ data.text(sectionData.title, slug, path ~ '.title', editMode) }}{{ data.removeElementButton(path, slug, editMode) }}
        </h2>

        <div class="section-intro">
            {{ data.textarea(sectionData.description, slug, path ~ '.description', editMode) }}
        </div><!--//section-intro-->
        <div class="figures-wrapper">
            <div class="container text-center">
                <figure class="macbook-screen">{{ data.image(sectionData.images.macbook, slug, path ~ '.images.macbook', editMode, {class: 'img-responsive'}, "/templates/startup-kit/images/macbook-screen.png") }}</figure>
                <figure class="ipad-screen">{{ data.image(sectionData.images.ipad, slug, path ~ '.images.ipad', editMode, {class: 'img-responsive'}, "/templates/startup-kit/images/ipad-screen.png") }}</figure>
                <figure class="iphone-screen">{{ data.image(sectionData.images.iphone, slug, path ~ '.images.iphone', editMode, {class: 'img-responsive'}, "/templates/startup-kit/images/iphone-screen.png") }}</figure>
                {#<a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="/templates/startup-kit/images/play-icon-md.svg" alt=""></a>#}
            </div><!--//container-->
        </div><!--//figures-wrapper-->
        <div class="benefits-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/templates/startup-kit/images/icons/clock-white.svg" alt="">
                            <h3 class="item-title">{{ data.text(sectionData.benefits.0.title, slug, path ~ '.benefits.0.title', editMode) }}</h3>
                            <div class="item-desc">
                                {{ data.textarea(sectionData.benefits.0.description, slug, path ~ '.benefits.0.description', editMode) }}
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/templates/startup-kit/images/icons/presenter-white.svg" alt="">
                            <h3 class="item-title">{{ data.text(sectionData.benefits.1.title, slug, path ~'.benefits.1.title', editMode) }}</h3>
                            <div class="item-desc">
                                {{ data.textarea(sectionData.benefits.1.description, slug, path ~ '.benefits.1.description', editMode) }}
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="/templates/startup-kit/images/icons/chat-white.svg" alt="">
                            <h3 class="item-title">{{ data.text(sectionData.benefits.2.title, slug, path ~ '.benefits.2.title', editMode) }}</h3>
                            <div class="item-desc">
                                {{ data.textarea(sectionData.benefits.2.description, slug, path ~ '.benefits.2.description', editMode) }}
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//benefits-->
        {#<div class="press-wrapper">
            <div class="container">
                <div class="logos row">
                    <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/templates/startup-kit/images/logos/logo-1.svg" alt=""></div>
                    <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/templates/startup-kit/images/logos/logo-2.svg" alt=""></div>
                    <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/templates/startup-kit/images/logos/logo-3.svg" alt=""></div>
                    <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="/templates/startup-kit/images/logos/logo-4.svg" alt=""></div>
                </div>
            </div><!--//container-->
        </div><!--//press-wrapper-->#}
    </section><!--//overview-section-->
{% endmacro %}

{% macro featureBlocksSection(sectionData, slug, path, editMode) %}

    {% import "/data.html.twig" as data %}

    <div class="feature-blocks container">

        {% for key, feature in sectionData.features %}
            {% set featurePath = path ~'.features.' ~ key %}
            <div id="feature-block-{{ key | raw }}" class="feature-block feature-block-{{ key | raw }}">
                <div class="row">
                    <div class="feature-content col-md-4 col-sm-6 col-xs-12{% if feature.onTheLeft == "image" %} col-md-push-8 col-sm-push-6 col-xs-push-0{% endif %}">
                        <h3 class="feature-title">{{ data.text(feature.title, slug, featurePath ~ '.title', editMode) }}{{ data.settingsButton(featurePath, editMode) }}{{ data.removeElementButton(featurePath, slug, editMode) }}</h3>
                        <div class="feature-desc">
                            <p>{{ data.textarea(feature.description, slug, featurePath ~ '.description', editMode) }}</p>
                        </div><!--//feature-desc-->
                    </div><!--//feature-content-->
                    <div class="feature-figure col-md-8 col-sm-6 col-xs-12{% if feature.onTheLeft == "image" %} col-md-pull-4 col-sm-pull-6 col-xs-pull-0{% endif %}">
                        <div class="figure-holder">
                            {{ data.image(feature.image, slug, featurePath ~ '.image', editMode, {class: 'img-responsive'}, "/templates/startup-kit/images/features/feature-2.png") }}
                        </div><!--//figure-holder-->
                    </div>
                </div><!--//row-->
            </div><!--//feature-block-->
            {{ data.settingsModal(feature, slug, featurePath, {
                'onTheLeft': {
                    'type': 'select',
                    'title': 'Расположение',
                    'options': [
                        {value: 'image', text: 'Картинка слева'},
                        {value: 'text', text: 'Картинка справа'}
                    ]
                }
            }, editMode) }}
        {% endfor %}

        {{ data.addElementButton(path ~ '.features', slug, editMode, "Добавить блок с текстом и картинкой") }}

        {{ data.removeElementBigButton(path, slug, editMode, "Удалить все блоки") }}

    </div><!--//feature-blocks-->

{% endmacro %}

{% macro featuresPreviewSection(section, slug, path, editMode) %}

    {% import "/data.html.twig" as data %}
    
    <section id="features-section" class="features-section section">
        <h2 class="section-title">
            {{ data.text(section.title, slug, path ~ '.title', editMode) }}{{ data.removeElementButton(path, slug, editMode) }}
        </h2>
        <div class="container">
            <div class="row">
                <div class="features-content-wrapper col-xs-12 col-sm-7 com-md-7">
                    <div class="intro">
                        {{ data.textarea(section.description, slug, path ~ '.description', editMode) }}
                    </div><!--//intro-->
                    <ul class="feature-list list-unstyled">
                        {% for key, item in section.features %}
                            <li><img class="tick-icon" src="/templates/startup-kit/images/tick.svg" alt=""> {{ data.text(section.features[key], slug, path ~ '.features.' ~ key, editMode) }}{{ data.removeElementButton(path ~ '.features.' ~ key, slug, editMode) }}</li>
                        {% endfor %}
                        <li>{{ data.addItemButton(path ~ '.features', slug, editMode) }}</li>
                    </ul><!--//feature-list-->

                    <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
                        <!--//wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            {% for key, opinion in section.opinions %}

                                {% set opinionPath = path ~ '.opinions.' ~ key %}

                                <div class="item{% if loop.first %} active{% endif %}">
                                    <blockquote class="review center-block">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <p>{{ opinion.text }}{{ data.settingsButton(opinionPath, editMode) }}{{ data.removeElementButton(opinionPath, slug, editMode) }}</p>
                                    </blockquote><!--//review-->
                                    <div class="source">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div><!--//rating-->
                                        {#<img class="profile" src="/templates/startup-kit/images/users/user-1.png" alt="" />#}
                                        {{ data.image(opinion.avatar, slug, opinionPath ~ '.avatar', editMode, {class: 'profile'}, "/templates/startup-kit/images/users/user-1.png") }}
                                        <div class="name">{{ opinion.signature }}</div>
                                    </div><!--//source-->
                                </div><!--//item-->

                                {{ data.settingsModal(opinion, slug, opinionPath,
                                    {
                                        'text': {
                                            'type': 'textarea',
                                            'title': 'Сам отзыв'
                                        },
                                        'фмфефк': {
                                            'type': 'image',
                                            'title': 'Аватар оставившего отзыв',
                                        },
                                        'signature': {
                                            'type': 'text',
                                            'title': 'Подпись',
                                        }
                                    },
                                editMode) }}

                            {% endfor %}

                        </div><!--//carousel-inner-->

                        <!--//Indicators-->
                        <ol class="carousel-indicators">
                            {% for key, opinion in section.opinions %}
                                <li data-target="#reviews-carousel" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>

                        {{ data.addElementButton(path ~ '.opinions', slug, editMode, "Добавить отзыв") }}

                    </div><!--//reviews-carousel-->
                </div><!--//features-content-wrapper-->
            </div><!--//row-->
        </div><!--//container-->

        <div class="features-figure-wrapper">
            {{ data.image(section.image, slug, path ~ '.image', editMode, {class: 'img-responsive'}, "/templates/startup-kit/images/imac-screen.png") }}
        </div><!--//features-figure-wrapper-->

        <div class="action-wrapper text-center">
            {{ data.a(section.button, slug, path ~ '.button', editMode, { 'class': 'btn btn-secondary' }) }}
        </div>

    </section><!--//features-section-->

{% endmacro %}