{% extends '/templates/startup-kit/structure/head.html.twig' %}
{% import '/templates/startup-kit/components/top.html.twig' as top %}
{% import '/templates/startup-kit/components/components.html.twig' as components %}
{% import '/templates/startup-kit/components/nav.html.twig' as nav %}
{% import '/templates/startup-kit/components/admin.html.twig' as admin %}
{% import '/common/data.html.twig' as data %}

{% block body %}

    {{ admin.pageProperties(page, slug, editMode) }}

    {% for key, section in page.sections %}
        {% if     section.type == "SimpleHeadingSection" %}  {{ top.simple(section, page.slug, 'sections.' ~ key, editMode) }}
        {% elseif section.type == "PromoHeadingSection" %}   {{ top.promo(section, page.slug, 'sections.' ~ key, editMode) }}

        {% elseif section.type == "OverviewSection" %}       {{ components.overviewSection(section, page.slug, 'sections.' ~ key, editMode) }}
        {% elseif section.type == "FeaturePreviewSection" %} {{ components.featuresPreviewSection(section, page.slug, 'sections.' ~ key, editMode) }}
        {% elseif section.type == "FeatureBlocksSection" %}  {{ components.featureBlocksSection(section, page.slug, 'sections.' ~ key, editMode) }}
        {% elseif section.type == "PageNavSection" %}        {{ nav.pageNavSection(section, page.slug, 'sections.' ~ key, editMode) }}

        {% endif %}
    {% endfor %}

    {% if editMode %}

        <section class="section text-center">
            {{ data.addComponentModal(page.slug, editMode) }}
        </section>

    {% endif %}

{% endblock %}

