
{%- macro value(page, path) -%}
    {%- set value = page -%}
    {%- for key in path|split('.') -%}
        {%- set value = value[key] -%}
    {%- endfor -%}
    {{- value | raw -}}
{%- endmacro -%}

{% macro text(value, slug, path, editMode = false, title = "") %}
    {% import _self as data %}
    {% if editMode %}
        <e data-type="text" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}" data-title="{{ title | raw }}">{{ value | raw }}</e>
    {% else %}
        {{- value | raw -}}
    {% endif %}
{% endmacro %}

{%- macro textarea(value, slug, path, editMode = false) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e data-type="textarea" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}">{{ value | raw }}</e>
    {%- else -%}
        {{- value | raw -}}
    {%- endif -%}
{% endmacro %}

{%- macro a(value, slug, path, editMode = false, attrs = {}) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e data-type="link" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}" data-value="{url: '{{ value.url | raw }}', text: '{{ value.text | raw }}'}">{{ value.text | raw }}</e>
    {%- else -%}
        <a href="{{ value.url | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %} data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}">{{ value.text | raw }}</a>
    {%- endif -%}
{% endmacro %}