
{%- macro value(page, path) -%}
    {%- set value = page -%}
    {%- for key in path|split('.') -%}
        {%- set value = value[key] -%}
    {%- endfor -%}
    {{- value | raw -}}
{%- endmacro -%}

{% macro text(value, slug, path, editMode = false, title = "") %}
    {% import _self as data %}
    {% if editMode %}
        <e data-type="text" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}">{{ value | raw }}</e>
    {% else %}
        {{- value | raw -}}
    {% endif %}
{% endmacro %}

{%- macro textarea(value, slug, path, editMode = false) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e data-type="textarea" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}">{{ value | raw }}</e>
    {%- else -%}
        {{- value | raw -}}
    {%- endif -%}
{% endmacro %}

{%- macro a(value, slug, path, editMode = false, attrs = {}) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e data-type="link" data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}" data-value="{url: '{{ value.url | raw }}', text: '{{ value.text | raw }}'}">{{ value.text | raw }}</e>
    {%- else -%}
        <a href="{{ value.url | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %} data-url="/change" data-pk="{{ slug }}" data-name="{{ path }}">{{ value.text | raw }}</a>
    {%- endif -%}
{% endmacro %}

{% macro image(value, slug, path, editMode = false, attrs = {}, default = "") %}
    {% import _self as data %}
    {% if value is empty %}
        {% set value = default %}
    {% endif %}
    {% if editMode %}
        {% set id = path | replace({'.': '-'}) %}
        <input type="hidden" id="{{ id | raw }}" />
        <edim class="edit-image" data-fancybox data-src="/filemanager/dialog.php?type=1&lang=ru&relative_url=1&field_id={{ id | raw }}" data-type="iframe"><img id="{{ id | raw }}-image" src="{{ value | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %}></edim>
    {% else %}
        <img src="{{ value | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %}>
    {% endif %}
{% endmacro %}

{% macro setImageButton(value, slug, path, editMode = false, default = "") %}
    {% import _self as data %}
    {% if value is empty %}
        {% set value = default %}
    {% endif %}
    {% if editMode %}
        {% set id = path | replace({'.': '-'}) %}
        <input type="hidden" id="{{ id | raw }}" />
        <edim class="edit-image" data-fancybox data-src="/filemanager/dialog.php?type=1&lang=ru&relative_url=1&field_id={{ id | raw }}" data-type="iframe"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></edim>
    {% endif %}
{% endmacro %}