{% extends '/common/layouts/head.html.twig' %}
{% import '/common/components/admin.html.twig' as admin %}

{% block title %}Панель управления {% if setting.title is defined and settings.title.value | length > 0 %} | {{ settings.title.value }}{% endif %}{% endblock %}

{% block body %}
    <div class="admin-panel-wrapper">
        {% if editMode %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Панель управления</h1>

                        <ul class="nav nav-tabs">
                            <li role="presentation"{% if adminType == 'standard' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/standard">Стандартные данные</a></li>
                            <li role="presentation"{% if adminType == 'data' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/data">Данные</a></li>
                            <li role="presentation"{% if adminType == 'panels' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/panels">Панели</a></li>
                        </ul>

                        <br/>

                        {% if adminType == 'standard' %}
                            {{ admin.standardPanel(dataType, list, menu, settings) }}
                        {% elseif adminType == 'data' %}
                            {{ admin.dataPanel(dataType, additionalCollection, linkPrefix) }}
                        {% elseif adminType == 'panels' %}
                            {{ admin.panelsPanel(panel, panels, panelData, method) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            {{ admin.loginForm() }}
        {% endif %}
    </div>
{% endblock %}
