{% macro pageProperties(page, editMode) %}

    {% import "/common/components/page.html.twig" as pages %}

    {% if editMode %}
        <input type="checkbox" name="toggle" id="toggle" />
        <div class="message">
            <label id="settings-label" class="btn" for="toggle">Параметры страницы</label>
            <h1>Параметры страницы</h1>
            <h2>Title {{ pages.text(page.title, page._id, 'title', editMode) }}</h2>
        </div>
    {% endif %}

{% endmacro %}

{% macro loginForm() %}

    <div class="container">

        <div class="row">

            <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">

                <div class="title"><span>Вход в панель управления</span></div>

                <form action="" method="post">

                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus/>
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-long-arrow-right"></span>
                        Войти
                    </button>

                </form>

            </div>

        </div>

    </div>

{% endmacro %}

{% macro table(items, type, caption, addCaption, fields, changeList = true) %}

    {% set editMode = true %}
    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <table class="table table-hover">
        <caption><h2>{{ caption }}</h2></caption>
        <thead class="hidden-sm hidden-xs">
        <tr>
            <th>
                <div class="row">
                    {% for field in fields %}
                        {% if not field.hideInTable %}
                            <div class="col-md-{% if loop.last %}{{ (field.columns + 1) }}{% else %}{{ field.columns }}{% endif %}">{{ field.caption | raw }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <div class="row">
                        {% for field in fields if not field.hideInTable %}
                            <div class="col-md-{{ field.columns }}">
                                {% if field.type =='select' or (field.type == 'dependsOnItem' and item.type == 'select') %}
                                    {{ data.select(type, item[field.name], item._id, field.name, not field.readonly, field.options) }}
                                {% elseif field.type =='checklist' or (field.type == 'dependsOnItem' and item.type == 'checklist') %}
                                    {{ data.checklist(type, item[field.name], item._id, field.name, not field.readonly, field.variants) }}
                                {% elseif field.type =='textarea' or (field.type == 'dependsOnItem' and item.type == 'textarea') %}
                                    {{ data.textarea(type, item[field.name], item._id, field.name, not field.readonly) }}
                                {% elseif field.type =='code' or (field.type == 'dependsOnItem' and item.type == 'code') %}
                                    {{ data.code(type, item[field.name], item._id, field.name, not field.readonly) }}
                                {% elseif field.type =='image' or (field.type == 'dependsOnItem' and item.type == 'image') %}
                                    {{ data.image(type, item[field.name], item._id, field.name, not field.readonly, {}, '/source/previewDefault.jpg', item.settings) }}
                                {% else %}
                                    {{ data.text(type, item[field.name], item._id, field.name, not field.readonly) }}
                                {% endif %}
                                {% if field.link %} <a href="{% if field.linkPrefix is not empty %}{{ field.linkPrefix }}{% endif %}{{ item[field.name] }}">Перейти</a>{% endif %}
                            </div>
                        {% endfor %}
                        <div class="col-md-1 text-right">
                            {% if changeList %}
                                <a class="remove-page-button" href="/e/{{ type }}/remove/{{ item._id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if changeList %}{{ data.addDocumentButton(type, addCaption, fields, true) }}{% endif %}

{% endmacro %}

{% macro standardPanel(dataType, list, menu, settings) %}

    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <ul class="nav nav-tabs">
        <li role="presentation"{% if dataType == 'page' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/standard/page">Страницы</a></li>
        <li role="presentation"{% if dataType == 'menu' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/standard/menu">Меню</a></li>
        <li role="presentation"{% if dataType == 'setting' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/standard/setting">Свойства</a></li>
        <li role="presentation"{% if dataType == 'form' %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/standard/form">Форма</a></li>
    </ul>

    <br/>

    {% if dataType == 'page' %}

        {% set options = [{ 'value': 'default', 'text': 'Обычное' }] %}
        {% for value, collection in app.settings.additionalData %}
            {% set options = options | merge([{ 'value': value, 'text': 'Элемент "' ~ collection.title ~ '"' }]) %}
        {% endfor %}

        {% set additional = [] %}
        {% for value, collection in app.settings.additionalData %}
            {% set additional = additional | merge([{ 'value': value, 'text': collection.title }]) %}
        {% endfor %}

        {% set menuOptions = [{ 'value': '', 'text': 'Пусто' }] %}
        {% for menuItem in menu %}
            {% set menuOptions = menuOptions | merge([{ 'value': menuItem.uri, 'text': menuItem.text }]) %}
        {% endfor %}

        {{ admin.table(list, 'page', 'Страницы сайта', 'Добавить страницу', [
            {
                'name': 'uri',
                'caption': 'URI',
                'placeholder': '/newpage',
                'columns': 2,
                'link': true
            }, {
                'name': 'title',
                'caption': 'Заголовок',
                'placeholder': 'Заголовок новой страницы',
                'columns': 2
            }, {
                'name': 'description',
                'caption': 'Description',
                'placeholder': 'Description страницы',
                'columns': 2
            }, {
                'name': 'display',
                'caption': 'Отображение',
                'placeholder': 'Обычное',
                'columns': 2,
                'type': 'select',
                'options': options
            }, {
                'name': 'getAdditional',
                'caption': 'Дополнительные данные',
                'placeholder': '',
                'columns': 1,
                'type': 'checklist',
                'variants': additional
            }, {
                'name': 'selectedMenu',
                'caption': 'Выделенное меню<br/>(с другим uri)',
                'placeholder': '',
                'columns': 2,
                'type': 'select',
                'options': menuOptions
            }
        ]) }}

    {% elseif dataType == 'menu' %}

        {{ admin.table(list, 'menu', 'Ссылки меню сайта', 'Добавить ссылку', [
            {
                'name': 'uri',
                'caption': 'URI',
                'placeholder': '/page',
                'columns': 3,
                'link': true
            }, {
                'name': 'text',
                'caption': 'Текст',
                'placeholder': 'Ссылка на страницу',
                'columns': 8
            }
        ]) }}

    {% elseif dataType == 'setting' %}

        {{ admin.table(settings, 'setting', 'Общие свойства сайта', 'Добавить свойство', [
            {
                'name': 'key',
                'caption': 'Ключ',
                'placeholder': 'title',
                'columns': 2,
                'readonly': true,
                'hideInTable': true
            }, {
                'name': 'type',
                'caption': 'Тип свойства',
                'placeholder': 'Текст',
                'columns': 2,
                'readonly': true,
                'hideInTable': true,
                'type': 'select',
                'options': [
                    {value: 'text', text: 'Однострочный текст'},
                    {value: 'textarea', text: 'Многострочный текст'},
                    {value: 'image', text: 'Изображение'},
                    {value: 'code', text: 'Код'}
                ]
            }, {
                'name': 'title',
                'caption': 'Название',
                'placeholder': 'Заголовок сайта',
                'columns': 5,
                'readonly': true
            }, {
                'name': 'value',
                'type': 'dependsOnItem',
                'caption': 'Значение',
                'placeholder': 'Наш сайт',
                'columns': 6
            }
        ], app.settings.debug) }}

    {% elseif dataType == 'form' %}

        {{ admin.table(list, 'form', 'Поля формы', 'Добавить поле', [
            {
                'name': 'key',
                'caption': 'Ключ',
                'placeholder': 'phone',
                'columns': 3,
                'readonly': false
            }, {
                'name': 'title',
                'caption': 'Заголовок',
                'placeholder': 'Телефон',
                'columns': 8,
                'readonly': false
            }
        ], app.settings.debug) }}

    {% endif %}

    {{ data.removeDocumentModal() }}

{% endmacro %}

{% macro dataPanel(collectionName, additionalCollection, linkPrefix) %}

    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <ul class="nav nav-tabs">
        {% for id, collection in app.settings.additionalData %}
            <li role="presentation"{% if collectionName == id %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/data/{{ id }}">{{ collection.title }}</a></li>
        {% endfor %}
    </ul>

    <br/>

    {% if app.settings.additionalData[collectionName].fields is defined %}

        {% set tableSettings = [] %}
        {% for fieldName, fieldTitle in app.settings.additionalData[collectionName].fields %}
            {% set tableSettings = tableSettings | merge([{
                'name': fieldName,
                'caption': fieldTitle,
                'columns' : (12 // app.settings.additionalData[collectionName].fields | length - (loop.last ? 1 : 0))
            }]) %}
        {% endfor %}

        {{ admin.table(additionalCollection, collectionName, app.settings.additionalData[collectionName].title, 'Добавить', tableSettings) }}

    {% else %}

        {{ admin.table(additionalCollection, collectionName, app.settings.additionalData[collectionName].title, 'Добавить', [
            {
                'name': 'itemId',
                'caption': 'Текстовый идентификатор',
                'placeholder': 'item-22-12-2017',
                'columns': 3,
                'readonly': false,
                'link': (linkPrefix is not empty),
                'linkPrefix': linkPrefix
            }, {
                'name': 'title',
                'caption': 'Заголовок',
                'placeholder': 'Элемент данных',
                'columns': 3,
                'readonly': false
            }, {
                'name': 'description',
                'caption': 'Description',
                'placeholder': 'Элемент данных',
                'columns': 3,
                'readonly': false
            }, {
                'name': 'visibility',
                'caption': 'Видимость',
                'placeholder': 'Виден',
                'columns': 2,
                'readonly': false,
                'type': 'select',
                'options': [
                    {'value': 'visible', 'text': 'Виден'},
                    {'value': 'hidden',  'text': 'Скрыт'}
                ]
            }
        ]) }}

    {% endif %}

    {{ data.removeDocumentModal() }}

{% endmacro %}

{% macro panelsPanel(selectedName, panels, panelData, method) %}

    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <ul class="nav nav-tabs">
        {% for panel in panels %}
            <li role="presentation"{% if selectedName == panel.name %} class="active"{% endif %}><a href="{{ app.settings.admin.page.uri }}/panels/{{ panel.name }}">{{ panel.title }}</a></li>
        {% endfor %}
    </ul>

    <br/>

    {% if selectedName is defined and selectedName != 'page' %}
        {% include "/panels/" ~ selectedName ~ "/views/" ~ method ~".html.twig" with panelData only %}
    {% endif %}

{% endmacro %}

