
{%- macro value(page, path) -%}
    {%- set value = page -%}
    {%- for key in path|split('.') -%}
        {%- set value = value[key] -%}
    {%- endfor -%}
    {{- value | raw -}}
{%- endmacro -%}

{% macro text(type, value, id, path, editMode = false, inModal = false, placement = 'top') %}
    {% import _self as data %}
    {% if editMode %}
        <e{% if inModal %}s{% endif %} data-type="text" data-url="/e/{{ type }}/edit" data-pk="{{ id }}" data-name="{{ path }}"{% if title is not empty %} data-title="{{ title }}"{% endif %} data-placement="{{ placement }}">{{ value | raw }}</e{% if inModal %}s{% endif %}>
    {% else %}
        {{- value | raw -}}
    {% endif %}
{% endmacro %}

{% macro iconpicker(type, value, id, path, editMode = false, iconset = 'fontawesome', attrs ={}, tag = 'i') %}
    {% if editMode %}
        <button class="btn" data-type="{{ type }}" data-pk={{ id }} data-icon="{{ value }}" data-path="{{ path }}" {% for key,val in attrs %} {% if not (key == 'class' and val starts with 'scrollto') %}{{ key | raw }}="{{ val | raw }}"{% endif %}{% endfor %} data-iconset="{{ iconset }}" role="iconpicker"></button>
    {% else %}
        <{{ tag }} class="{{ ( value | split('-')[0] ) ~ ' ' ~ value }}" aria-hidden="true"></{{ tag }}>
    {% endif %}
{% endmacro %}

{%- macro textarea(type, value, id, path, editMode = false, inModal = false) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e{% if inModal %}s{% endif %} data-type="textarea" data-url="/e/{{ type }}/edit" data-pk="{{ id }}" data-name="{{ path }}">{{ value | raw }}</e{% if inModal %}s{% endif %}>
    {%- else -%}
        {{- value | raw -}}
    {%- endif -%}
{% endmacro %}

{%- macro code(type, value, id, path, editMode = false, inModal = false) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e{% if inModal %}s{% endif %} data-type="code" data-url="/e/{{ type }}/edit" data-pk="{{ id }}" data-name="{{ path }}" data-value="{{ value | raw | e }}">Код</e{% if inModal %}s{% endif %}>
    {%- else -%}
        {{- value | raw -}}
    {%- endif -%}
{% endmacro %}

{%- macro checklist(type, value, id, path, editMode = false, variants = {}, inModal = false) -%}
    {%- import _self as data -%}
    {%- if editMode -%}
        <e{% if inModal %}s{% endif %} data-type="checklist" data-url="/e/{{ type }}/edit/list" data-pk="{{ id }}" data-name="{{ path }}" data-value="[{% for v in value %}'{{ v }}'{% if not loop.last %},{% endif %}{% endfor %}]" data-source="{{ variants | json_encode }}"></e{% if inModal %}s{% endif %}>
    {%- endif -%}
{% endmacro %}

{% macro image(type, value, id, path, editMode = false, attrs = {}, default = "") %}
    {% import _self as data %}
    {% if value is empty %}
        {% set value = default %}
    {% endif %}
    {% if editMode %}
        {% set inputId = 'i' ~ random(10000) %}
        <input type="hidden" data-type="{{ type }}" id="{{ inputId | raw }}" data-pk="{{ id }}" />
        <edim class="edit-image" data-fancybox data-src="/filemanager/dialog.php?type=1&lang=ru&relative_url=1&field_id={{ inputId | raw }}" data-type="iframe"><img id="{{ inputId | raw }}-image" src="{{ value | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %}></edim>
    {% else %}
        <img src="{{ value | raw }}"{% for key,val in attrs %} {{ key | raw }}="{{ val | raw }}"{% endfor %}>
    {% endif %}
{% endmacro %}

{% macro setImageButton(type, value, id, path, editMode = false, default = "") %}
    {% import _self as data %}
    {% if value is empty %}
        {% set value = default %}
    {% endif %}
    {% if editMode %}
        {% set inputId = 'i' ~ random(10000) %}
        <input type="hidden" data-type="{{ type }}" data-path="{{ path }}" id="{{ inputId | raw }}" data-pk="{{ id }}" />
        <edim class="edit-image" data-fancybox data-src="/filemanager/dialog.php?type=1&lang=ru&relative_url=1&field_id={{ inputId | raw }}" data-type="iframe"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></edim>
    {% endif %}
{% endmacro %}

{% macro setImagePreviewButton(type, value, id, path, editMode = false, default = '/source/previewDefault.jpg') %}
    {% import _self as data %}
    {% if value is empty %}
        {% set value = default %}
    {% endif %}
    {% if editMode %}
        {% set inputId = 'i' ~ random(10000) %}
        <input type="hidden" data-type="{{ type }}" data-path="{{ path }}" id="{{ inputId | raw }}" data-pk="{{ id }}" data-bg-el="" />
        <edim class="edit-image" data-fancybox data-src="/filemanager/dialog.php?type=1&lang=ru&relative_url=1&field_id={{ inputId | raw }}" data-type="iframe"><img id="{{ inputId | raw }}-preview" src="{{ value | replace({'/source/': '/thumbs/'}) }}" /></edim>
    {% endif %}
{% endmacro %}

{% macro addImagePreviewButton(type, path, id, editMode = false, caption = "Добавить элемент") %}
    {% if editMode %}<button type="button" class="btn btn-primary btn-add-image-preview" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}">{{ caption }}</button>{% endif %}
{% endmacro %}

{% macro select(type, value, id, path, editMode = false, options = [], inSettings = false) %}
    {% import _self as data %}
    {% if editMode %}
        {% set initCaption = "Пусто" %}
        {% for option in options %}
            {% if value == option.value %}
                {% set initCaption = option.text %}
            {% endif %}
        {% endfor %}
        <e{% if inSettings %}s{% endif %} data-type="select" data-url="/e/{{ type }}/edit" data-pk="{{ id }}" data-name="{{ path }}" data-value="{{ value | raw }}" data-source="{{ options | json_encode }}">{{ initCaption | raw }}</e{% if inSettings %}s{% endif %}>
    {% else %}
        {{- value | raw -}}
    {% endif %}
{% endmacro %}

{% macro addElementButton(type, path, id, editMode = false, caption = "Добавить объект") %}
    {% if editMode %}<button type="button" class="btn btn-primary btn-add-object" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}">{{ caption }}</button>{% endif %}
{% endmacro %}

{% macro addItemButton(type, path, id, editMode = false, caption = "Добавить пункт", inModal = false) %}
    {% if editMode %}<button type="button" class="btn btn-primary btn-add-item" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}"{% if inModal %} data-inmodal="true"{% endif %}>{{ caption }}</button>{% endif %}
{% endmacro %}

{% macro addItemMicroButton(type, path, id, editMode = false, inModal = false) %}
    {% if editMode %}<ae class="btn-add-item" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}"{% if inModal %} data-inmodal="true"{% endif %}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></ae>{% endif %}
{% endmacro %}

{% macro removeElementButton(type, path, id, editMode = false, inModal = false) %}
    {% if editMode %}<reel class="btn-remove-element" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}"{% if inModal %} data-inmodal="true"{% endif %}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></reel>{% endif %}
{% endmacro %}

{% macro removeElementBigButton(type, path, id, editMode = false, caption = "Удалить элемент") %}
    {% if editMode %}<button type="button" class="btn btn-primary btn-remove-element" data-type="{{ type }}" data-path="{{ path | raw }}" data-pk="{{ id }}">{{ caption }}</button>{% endif %}
{% endmacro %}

{% macro removeDocumentButton(type, item, editMode = true) %}
    {% if editMode %}<a class="remove-page-button" href="/e/{{ type }}/remove/{{ item._id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>{% endif %}
{% endmacro %}

{% macro removeDocumentModal() %}
    <div class="modal fade modal-custom-qe" id="remove-page-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="remove-page-confirm-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="remove-page-confirm-modal-label" class="modal-title text-center">Удаление документа/страницы</h4>
                </div>
                <div class="modal-body">
                    Уверены, что хотите удалить документ?
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <a class="btn btn-primary" id="remove-page-confirm-button">Удалить</a>
                </div>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
{% endmacro %}


{% macro addDocumentButton(type, caption, fields = [], editMode) %}

    {% if editMode %}

    <button class="btn btn-primary btn-add-{{ type }}" data-toggle="modal" data-target="#add-{{ type }}-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ caption }}</button>

    <!-- Settings Modal -->
    <div class="modal modal-settings modal-custom-qe" id="add-{{ type }}-modal" tabindex="-1" role="dialog" aria-labelledby="add-{{ type }}-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/e/{{ type }}/add" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="add-{{ type }}-modal-label" class="modal-title text-center">{{ caption }}</h4>
                    </div>
                    <div class="modal-body">

                        {% for field in fields if field.type != 'checklist' %}
                            <div class="form-group">
                                <label for="new-{{ type }}-{{ field.name }}-input">{{ field.caption }}</label>
                                {% if field.type == 'select' %}
                                    <select name="{{ field.name }}" class="form-control" id="new-{{ type }}-{{ field.name }}-input" placeholder="{{ field.placeholder }}">
                                        {% for option in field.options %}
                                            <option value="{{ option.value }}">{{ option.text }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input type="text" name="{{ field.name }}" class="form-control" id="new-{{ type }}-{{ field.name }}-input" placeholder="{{ field.placeholder }}">
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div><!--//modal-body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" id="add-{{ type }}-button">Добавить</button>
                    </div>
                </form>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

    {% endif %}

{% endmacro %}