{% macro pageProperties(page, slug, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    {% if editMode %}
        <input type="checkbox" name="toggle" id="toggle" />
        <div class="message">
            <label id="settings-label" class="btn" for="toggle">Параметры страницы</label>
            <h1>Параметры страницы</h1>
            <h2>Title {{ data.text(page.title, slug, 'title', editMode) }}</h2>
        </div>
    {% endif %}

{% endmacro %}

{% macro addPageButton() %}

    <button class="btn btn-primary btn-add-page" data-toggle="modal" data-target="#add-page-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить страницу</button>

    <!-- Settings Modal -->
    <div class="modal modal-settings" id="add-page-modal" tabindex="-1" role="dialog" aria-labelledby="add-page-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/e/add-page" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="add-page-modal-label" class="modal-title text-center">Добавить страницу</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="new-page-uri-input">URI</label>
                        <input type="text" name="slug" class="form-control" id="new-page-uri-input" placeholder="newpage">
                    </div>

                    <div class="form-group">
                        <label for="new-page-title-input">Заголовок</label>
                        <input type="text" name="title" class="form-control" id="new-page-title-input" placeholder="Заголовок новой страницы">
                    </div>

                </div><!--//modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="add-page-button">Добавить</button>
                </div>
                </form>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

{% endmacro %}

{% macro loginForm() %}

    <div class="container">

        <div class="row">

            <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">

                <div class="title"><span>Вход в админку</span></div>

                <form action="" method="post">

                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus/>
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>

                    <button type="submit" class="btn btn-theme">
                        <i class="fa fa-long-arrow-right"></i>
                        Войти
                    </button>

                </form>

            </div>

        </div>

    </div>

{% endmacro %}

{% macro pagesTable(pages) %}

    {% set editMode = true %}
    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <table class="table table-hover">
        <caption>Страницы сайта</caption>
        <thead class="hidden-sm hidden-xs">
        <tr>
            <th>
                <div class="row">
                    <div class="col-md-3">URI</div>
                    <div class="col-md-9">Заголовок</div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-3">{{ data.text(page.slug, page.slug, 'slug', editMode) }} <a href="/{{ page.slug }}">ссылка</a></div>
                        <div class="col-md-8">{{ data.text(page.title, page.slug, 'title', editMode) }}</div>
                        <div class="col-md-1"><a class="remove-page-button" href="/e/remove-page?slug={{ page.slug }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ admin.addPageButton() }}

{% endmacro %}

{% macro adminPanel(pages) %}

    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <div class="container" style="margin-top: 180px;">
        <div class="row">
            <div class="col-sm-12">

                {{ admin.pagesTable(pages) }}

            </div>
        </div>
    </div>

{% endmacro %}

{% macro admin(editMode, pages = []) %}

    {% import _self as admin %}

    {% if editMode %}
        {{ admin.adminPanel(pages) }}
    {% else %}
        {{ admin.loginForm() }}
    {% endif %}

{% endmacro %}