{% macro pageProperties(page, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    {% if editMode %}
        <input type="checkbox" name="toggle" id="toggle" />
        <div class="message">
            <label id="settings-label" class="btn" for="toggle">Параметры страницы</label>
            <h1>Параметры страницы</h1>
            <h2>Title {{ data.text(page.title, page._id, 'title', editMode) }}</h2>
        </div>
    {% endif %}

{% endmacro %}

{% macro addItemButton(type, caption, fields = []) %}

    <button class="btn btn-primary btn-add-{{ type }}" data-toggle="modal" data-target="#add-{{ type }}-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ caption }}</button>

    <!-- Settings Modal -->
    <div class="modal modal-settings" id="add-{{ type }}-modal" tabindex="-1" role="dialog" aria-labelledby="add-{{ type }}-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/e/{{ type }}/add" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="add-{{ type }}-modal-label" class="modal-title text-center">{{ caption }}</h4>
                </div>
                <div class="modal-body">

                    {% for field in fields %}
                        <div class="form-group">
                            <label for="new-{{ type }}-{{ field.name }}-input">{{ field.caption }}</label>
                            <input type="text" name="{{ field.name }}" class="form-control" id="new-{{ type }}-{{ field.name }}-input" placeholder="{{ field.placeholder }}">
                        </div>
                    {% endfor %}

                </div><!--//modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="add-{{ type }}-button">Добавить</button>
                </div>
                </form>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

{% endmacro %}

{% macro loginForm() %}

    <div class="container">

        <div class="row">

            <div class="col-sm-offset-3 col-md-offset-4 col-sm-6 col-md-4">

                <div class="title"><span>Вход в админку</span></div>

                <form action="" method="post">

                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus/>
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-long-arrow-right"></i>
                        Войти
                    </button>

                </form>

            </div>

        </div>

    </div>

{% endmacro %}

{% macro table(items, type, caption, addCaption, fields) %}

    {% set editMode = true %}
    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <table class="table table-hover">
        <caption><h2>{{ caption }}</h2></caption>
        <thead class="hidden-sm hidden-xs">
        <tr>
            <th>
                <div class="row">
                    {% for field in fields %}
                        <div class="col-md-{% if loop.last %}{{ (field.columns + 1) }}{% else %}{{ field.columns }}{% endif %}">{{ field.caption }}</div>
                    {% endfor %}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <div class="row">
                        {% for field in fields %}
                            <div class="col-md-{{ field.columns }}">{{ data.universalText(type, item[field.name], item._id, field.name, not field.readonly) }}
                                {% if field.link %} <a href="{{ item[field.name] }}">Перейти</a>{% endif %}
                            </div>
                        {% endfor %}
                        <div class="col-md-1"><a class="remove-page-button" href="/e/{{ type }}/remove/{{ item._id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ admin.addItemButton(type, addCaption, fields) }}

{% endmacro %}

{% macro adminPanel(pages, menu, settings) %}

    {% import "/common/components/data.html.twig" as data %}
    {% import _self as admin %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                {{ admin.table(pages, 'page', 'Страницы сайта', 'Добавить страницу', [
                    {
                        'name': 'uri',
                        'caption': 'URI',
                        'placeholder': '/newpage',
                        'columns': 3,
                        'link': true
                    }, {
                        'name': 'title',
                        'caption': 'Заголовок',
                        'placeholder': 'Заголовок новой страницы',
                        'columns': 8
                    }
                ]) }}

                <br/><br/><br/>

                {{ admin.table(menu, 'menu', 'Ссылки меню сайта', 'Добавить ссылку', [
                    {
                        'name': 'uri',
                        'caption': 'URI',
                        'placeholder': '/page',
                        'columns': 3,
                        'link': true
                    }, {
                        'name': 'text',
                        'caption': 'Текст',
                        'placeholder': 'Ссылка на страницу',
                        'columns': 8
                    }
                ]) }}

                <br/><br/><br/>

                {{ admin.table(settings, 'setting', 'Настройки', 'Добавить настройку', [
                    {
                        'name': 'key',
                        'caption': 'Ключ',
                        'placeholder': 'title',
                        'columns': 3,
                        'readonly': true
                    }, {
                        'name': 'title',
                        'caption': 'Название',
                        'placeholder': 'Заголовок сайта',
                        'columns': 4,
                        'readonly': true
                    }, {
                        'name': 'value',
                        'caption': 'Значение',
                        'placeholder': 'Наш сайт',
                        'columns': 4
                    }
                ]) }}

            </div>
        </div>
    </div>

{% endmacro %}

{% macro admin(editMode, pages = [], menu = [], settings = []) %}

    {% import _self as admin %}

    {% if editMode %}
        {{ admin.adminPanel(pages, menu, settings) }}
    {% else %}
        {{ admin.loginForm() }}
    {% endif %}

{% endmacro %}

{% macro removeAdminElementModal() %}
    <div class="modal fade" id="remove-page-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="remove-page-confirm-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="remove-page-confirm-modal-label" class="modal-title text-center">Удаление страницы</h4>
                </div>
                <div class="modal-body">
                    Уверены, что хотите удалить элемент?
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <a class="btn btn-primary" id="remove-page-confirm-button">Удалить</a>
                </div>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
{% endmacro %}