{% macro SliderHeadingSection(sectionData, pageId, path, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    <!--slider -->
    <section class="slider">

        {% if sectionData.sliders | length == 0 %}
            <div class="text-center" style="padding-top: 150px;">
            {{ data.addElementButton(path ~ '.sliders', pageId, editMode, "Добавить слайд") }}
            </div>
        {% else %}
            <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="the-The Zayka2" style="margin:0px auto;background-color:transparent; padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
                <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
                    <ul>

                        {% for i,slide in sectionData.sliders %}

                            {% set slidePath = path ~ '.sliders.' ~ i %}

                            <li data-index="rs-{{ i }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{{ slide.image | default('/templates/bowling/photos/photo001.jpg') | raw }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{ slide.image | default('/templates/bowling/photos/photo001.jpg') | raw }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption  text-orange tp-resizeme  text-center"
                                     id="slide-5-layer-1"
                                     data-x="center" data-hoffset=""
                                     data-y="330"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="font-family:VoxRound; text-transform: uppercase;  white-space: nowrap; font-size: 60px; line-height: 65px; font-weight: 900;color:#fff;">{{ data.text(slide.header, pageId, slidePath ~ '.header', editMode) }}{{ data.setImageButton(slide.image, pageId, slidePath ~ '.image', editMode, '/templates/bowling/photos/photo001.jpg') }}{{ data.settingsButton(slidePath, editMode) }}{{ data.removeElementButton(slidePath, pageId, editMode) }}</div>{#Lasco WienLight#}
                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption tp-resizeme mo-details-text"
                                     id="slide-5-layer-2"
                                     data-x="center" data-hoffset=""
                                     data-y="410"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="1500"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 8; white-space: nowrap; font-size: 24px; letter-spacing:2px; line-height: 24px; font-weight: bold; color: rgba(255, 255, 255, 1.00);text-align:center; text-transform:uppercase">{{ data.text(slide.description, pageId, slidePath ~ '.description', editMode) }}</div>
                                <!-- LAYER NR. 11 -->
                                <div class="tp-caption tp-resizeme mo-sub-title-text"
                                     id="slide-5-layer-3"
                                     data-x="center" data-hoffset=""
                                     data-y="440"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="2000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="line-height:20px; font-weight:bold;">
                                    <a style="padding:19px 35px; margin: 18px 0 18px 5px;" href="#bottom" class="slider-def-btn" data-text="BOOK NOW"><span style="padding-left:0;">BOOK NOW</span></a>
                                    <a style="padding:15px 35px; margin: 18px 0 18px 5px;" href="about-us.html" class="button button--isi button--round-l" data-text="ABOUT US"><span style="padding-left:0;">ABOUT US</span></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <div class="text-center" style="padding-top: 15px;">
                {{ data.addElementButton(path ~ '.sliders', pageId, editMode, "Добавить слайд") }}
                {{ data.removeElementBigButton(path, pageId, editMode, 'Удалить шапку-слайдер') }}
            </div>
        {% endif %}

    {% for i,slide in sectionData.sliders %}

        {% set slidePath = path ~ '.sliders.' ~ i %}

        {{ data.settingsModal(slide, pageId, slidePath,
            {
                'button1': {
                    'type': 'select',
                    'title': 'Первая кнопка',
                    'options': [
                        {value: 0, text: 'Отсутствует'},
                        {value: 'red', text: 'Красная'},
                        {value: 'transparent', text: 'Прозрачная'}
                    ]
                },
                'button2': {
                    'type': 'select',
                    'title': 'Вторая кнопка',
                    'options': [
                        {value: 0, text: 'Отсутствует'},
                        {value: 'red', text: 'Красная'},
                        {value: 'transparent', text: 'Прозрачная'}
                    ]
                }
            },
        editMode) }}

    {% endfor %}

    </section>

{% endmacro %}