{% macro SliderHeadingSection(sectionData, pageId, path, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    <!--slider -->
    <section class="slider">

        {% if sectionData.sliders | length == 0 %}
            <div class="text-center" style="padding-top: 150px;">
            {{ data.addElementButton(path ~ '.sliders', pageId, editMode, "Добавить слайд") }}
            </div>
        {% else %}
            <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="the-The Zayka2" style="margin:0px auto;background-color:transparent; padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
                <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
                    <ul>

                        {% for i,slide in sectionData.sliders %}

                            {% set slidePath = path ~ '.sliders.' ~ i %}

                            <li data-index="rs-{{ i }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="{{ slide.image | default('/templates/bowling/photos/photo001.jpg') | raw }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{{ slide.image | default('/templates/bowling/photos/photo001.jpg') | raw }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption  text-orange tp-resizeme  text-center"
                                     id="slide-5-layer-1"
                                     data-x="center" data-hoffset=""
                                     data-y="330"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="font-family:'Neo Sans Cyr'; text-transform: uppercase;  white-space: nowrap; font-size: 60px; line-height: 65px; font-weight: 500;color:#fff;">{{ data.text(slide.header, pageId, slidePath ~ '.header', editMode) }}{{ data.setImageButton(slide.image, pageId, slidePath ~ '.image', editMode, '/templates/bowling/photos/photo001.jpg') }}{{ data.removeElementButton(slidePath, pageId, editMode) }}</div>{#Lasco WienLight#}
                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption tp-resizeme mo-details-text"
                                     id="slide-5-layer-2"
                                     data-x="center" data-hoffset=""
                                     data-y="410"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="1500"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="white-space: nowrap; font-size: 24px; letter-spacing:2px; line-height: 24px; font-weight: bold; color: rgba(255, 255, 255, 1.00);text-align:center; text-transform:uppercase">{{ data.text(slide.description, pageId, slidePath ~ '.description', editMode) }}</div>
                                <!-- LAYER NR. 11 -->
                                <div class="tp-caption tp-resizeme mo-sub-title-text"
                                     id="slide-5-layer-3"
                                     data-x="center" data-hoffset=""
                                     data-y="440"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                                     data-transform_out="opacity:0;s:300;"
                                     data-start="2000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="line-height:20px; font-weight:bold;">
                                    {% for bi,button in slide.buttons %}

                                        {% set btnStyle = 'padding:19px 35px; margin: 18px 0 18px 5px;' %}

                                        {% if loop.first %}
                                            {% set btnClass = 'slider-def-btn' %}
                                        {% else %}
                                            {% set btnClass = 'button button--isi button--round-l' %}
                                        {% endif %}
                                        {{ data.a(button, pageId, slidePath ~ '.buttons.' ~ bi, editMode, { 'style': btnStyle, 'class': btnClass, 'data-text': button.test | upper }) }}
                                        {{ data.removeElementButton(slidePath ~ '.buttons.' ~ bi, pageId, editMode) }}
                                    {% endfor %}
                                    {% if editMode %}
                                        <span style="display: inline-block; padding:12px; margin: 18px 0 18px 5px;">{{ data.addElementButton(slidePath ~ '.buttons', pageId, editMode, "Добавить кнопку") }}</span>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            {% if editMode %}
            <div class="text-center" style="padding: 15px 0;">
                {{ data.addElementButton(path ~ '.sliders', pageId, editMode, "Добавить слайд") }}
                {{ data.removeElementBigButton(path, pageId, editMode, 'Удалить шапку-слайдер') }}
            </div>
            {% endif %}
        {% endif %}

    </section>

{% endmacro %}

{% macro SimpleHeadingSection(section, pageId, path, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    <div class="container-fluid about-head-bg" style="background-image: url({{ section.bg | default('/templates/bowling/images/welcome-bg.jpg') }});">
        <div class="about-head-bg-black">
            <div class="container text-center">

                <h2>{{ data.text(section.title, pageId, path ~ '.title', editMode) }}{{ data.setImageButton(section.bg, pageId, path ~ '.bg', editMode, '/templates/bowling/images/welcome-bg.jpg') }}{{ data.removeElementButton(path, pageId, editMode) }}</h2>
                <span><a href="/">{{ data.text(section.homeTitle, pageId, path ~ '.homeTitle', editMode) }} &nbsp; ></a> &nbsp; {{ data.text(section.subTitle, pageId, path ~ '.subTitle', editMode) }}</span>

            </div>
        </div>
    </div>

{% endmacro %}