{% import "/common/components/data.html.twig" as data %}<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{{ page.title | raw }}{% if page.title | length > 0 and settings.title.value | length > 0 %} | {% endif %}{{ settings.title.value }}{% endblock %}</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/templates/bowling/atmosfera/favicon.png">
    <!--Bootstrap-->
    <link href="/templates/bowling/css/style.css" rel="stylesheet" type="text/css">
    <link href="/templates/bowling/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/templates/bowling/css/additional.css" rel="stylesheet" type="text/css">
    <link href="/templates/bowling/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/templates/bowling/additional-fonts/lato/lato.css" rel="stylesheet">
    <link href="/templates/bowling/additional-fonts/clearsans/clearsans.css" rel="stylesheet">
    <link href="/templates/bowling/additional-fonts/StudioScript/stylesheet.css" rel="stylesheet">
    <link href="/templates/bowling/additional-fonts/NeoSansCyr/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!--SLIDER-->
    <!--mega menu-->
    <link rel="stylesheet" type="text/css" href="/templates/bowling/css/mega_menu.css" />
    <!--revolution slider-->
    <link rel="stylesheet" type="text/css" href="/templates/bowling/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/templates/bowling/css/navigation.css">
    <!--main style-->
    <link rel="stylesheet" type="text/css" href="/templates/bowling/css/slider.css" />
    <!--responsive-->
    <link rel="stylesheet" type="text/css" href="/templates/bowling/css/responsive.css">
    <!--testimonial-css-->
    <link href="/templates/bowling/css/carousel.min.css" rel="stylesheet">
    <link href="/templates/bowling/css/theme.min.css" rel="stylesheet">
    <link href="/templates/bowling/css/transitions.css" rel="stylesheet">
    <!--flaticon-->
    <link href="/templates/bowling/font/jump-font/flaticon.css" rel="stylesheet" type="text/css">
    <!--date-picker-->
    <link href="/templates/bowling/css/datepicker.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<!--preloader-->
<div id="loading">
    <div class="loader">
        <div class="duo duo1">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
    </div>
</div>

<!--Back-to-top-->
<div id="back-to-top">
    <a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a>
</div>
<!--header -->
<header id="header" class="header">
    <!-- mega menu -->
    <div class="menu">
        <!-- menu start -->
        <nav id="menu-1" class="mega-menu ">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li class="head-info">
                                    <a href="/"><img id="logo_img" src="/templates/bowling/atmosfera/logo2.png" alt="logo">
                                        <div class="top-address">
                                            <span class="hidden-sm hidden-xs">г. Самара, </span>{{ settings.address.value }}<br/>
                                            {{ settings.phone.value }}<br/>
                                            <strong style="font-weight: 700;">10.00-22.00</strong> без перерывов<span class="hidden-sm hidden-xs"> и выходных</span>
                                        </div>
                                    </a>

                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                {% for link in topMenu %}
                                    <li><a class="menu-style menu-li-a{% if link.uri == requestUri %} active{% endif %}" href="{{ link.uri }}">{{ link.text | upper }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>

{% block body %}{% endblock %}

<!--footer-->
<div class="container-fluid padd-50" id="bottom">
    <div class="container">

        <div class="col-md-12 text-center"><img src="/templates/bowling/atmosfera/footer-logo.png" /></div>
        <div class="clearfix"></div>

        <!--connect-->
        <div class="col-sm-4 col-md-4 line-top"><img src="/templates/bowling/images/footer-line.png" class="img-responsive" /></div>

        <div class="col-sm-4 col-md-4 text-center" style="margin-top:30px;">
            <h2 class="welc-h3">Присоединяйтесь</h2>
        </div>

        <div class="col-sm-4 col-md-4 line-btm"><img src="/templates/bowling/images/footer-line.png" class="img-responsive" /></div>
        <div class="clearfix"></div>

        <!--social-->
        <div class="col-md-offset-4 col-md-4 social text-center">
            <ul>
                <li><a href="http://vk.com/batytsamara" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a href="http://instagram.com/atmosfera_jump" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <!--menu-->
        <div class="col-md-12 foot-menu text-center">
            <ul>
                {% for link in topMenu %}
                    <li><a class="text-uppercase" href="{{ link.uri }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 text-center footer-theme-color">
            <p class="footer-p text-uppercase">{{ settings.footerCaption.value | raw }}</p>
            <p class="footer-p text-uppercase">Разработано в <a href="http://perfectclick.ru">Точный клик</a></p>
        </div>

        <div class="clearfix"></div>

    </div>
</div>

{% block pageSettings %}{% endblock %}


<!--Ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/templates/bowling/js/jQuery v1.12.0.js"></script>
<script src="/templates/bowling/js/bootstrap.min.js" type="text/javascript"></script>
<!--TESTIMONIAL-->

<script type="text/javascript" src="/templates/bowling/js/owl.carousel.min.js"></script>
<!--date-picker-->
<script src="/templates/bowling/js/bootstrap-datepicker.js"></script>
<script>
    $(document).ready(function () {

        $('#example1').datepicker({
            format: "dd/mm/yyyy"
        });

    });
</script>
<script>
    $(document).ready(function(){
        $("#advtslider").owlCarousel({
            items:1,
            itemsDesktop:[1000,1],
            itemsDesktopSmall:[979,1],
            itemsTablet:[768,1],
            pagination:true,
            navigation:false,
            navigationText:["",""],
            slideSpeed:1000,
            singleItem:true,
            transitionStyle:"fade",
            autoPlay:true
        });
    });
</script>

<!--gallery-slider-->
<script src="/templates/bowling/js/gallery-offline.js"></script>
<!--bx-slider-->
<script type="text/javascript">
    $('.bxslider').bxSlider({
        minSlides: 1,
        maxSlides: 8,
        slideWidth: 279,
        slideMargin: 0,
        ticker: true,
        speed: 90000
    });
</script>

<script>var editMode = {{ editMode ? 'true' : 'false' }};</script>

<!--SLIDER-->
<!--mega menu-->
<script type="text/javascript" src="/templates/bowling/js/mega_menu.js"></script>
<script src="/templates/bowling/js/plugins.js"></script>
<script src="/templates/bowling/js/custom.js"></script>

<!--REVOLUTION JS FILES-->
<script type="text/javascript" src="/templates/bowling/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/templates/bowling/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
(Load Extensions only on Local File Systems !
The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/templates/bowling/js/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/templates/bowling/js/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/templates/bowling/js/revolution.extension.slideanims.min.js"></script>
<!--SLIDER REVOLUTION CUSTOM-->
<script type="text/javascript" src="/templates/bowling/js/revolution-custom-qe.js"></script>
<!--custom-->
<script type="text/javascript" src="/templates/bowling/js/custom-slider.js"></script>
<script src="/templates/bowling/js/main.js"></script>


{% block javascripts %}{% endblock %}

</body>
</html>
